<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="    
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd  
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!-- 1.非注解的处理器映射器和适配器 -->
	<!-- （1）处理器映射器 -->
	<!-- 将bean的name最为URL来查找，配置handler时指定beanname -->
	<!-- <bean class="org.springframework.web.servlet.handle.BeanNameUrlHandlerMapping" 
		/> -->

	<!-- <bean class="org.springframework.web.servlet.handle.SimpleUrlHandlerMapping" 
		> <property name="mapping" /> <props> <prop key="url">neanid</prop> </props> 
		</property> </bean> -->

	<!-- （2）处理器适配器 -->
	<!-- <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" 
		/> -->

	<!-- <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter" 
		/> -->

	<!-- 2.注解的处理器映射器和适配器 -->

	<!-- <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" 
		/> -->

	<!-- <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" 
		/> -->

	<mvc:annotation-driven validator="validator"></mvc:annotation-driven>

	<context:component-scan base-package="com.point.controller.base"></context:component-scan>

	<context:component-scan base-package="com.point.controller.user"></context:component-scan>
	
	<context:component-scan base-package="com.point.controller.point"></context:component-scan>
	
	<context:component-scan base-package="com.point.controller.admin"></context:component-scan>

	<!-- 校验器 -->
	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
		<property name="validationMessageSource" ref="messageSource" />
	</bean>

	<!-- 校验错误信息配置文件 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>WEB-INF/ValidationMessage</value>
			</list>
		</property>
		<!-- 资源文件编码格式 -->
		<property name="fileEncodings" value="utf-8" />
		<!-- 资源文件内容缓存时间 -->
		<property name="cacheSeconds" value="120" />
	</bean>

	<!-- 视图解析器 -->
	<!-- 解析jsp，默认使用jstl -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- jsp页面的前缀和后缀 -->
		<property name="prefix" value="/jsps" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 全局的异常处理器 -->
	<bean class="com.point.util.PointExceptionResolver" />

	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.point.interceptor.LoginUserInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- setting maximum upload size -->
		<property name="maxUploadSize" value="5242880" />
	</bean>



</beans>  