<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.point.dao.point.PointCommentDao" >
  <resultMap id="BaseResultMap" type="com.point.entity.point.PointComment" >
    <id column="Id" property="id" jdbcType="CHAR" />
    <result column="PointId" property="pointid" jdbcType="CHAR" />
    <result column="Comment" property="comment" jdbcType="VARCHAR" />
    <result column="Praise" property="praise" jdbcType="INTEGER" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="UnUsed1" property="unused1" jdbcType="VARCHAR" />
    <result column="UnUsed2" property="unused2" jdbcType="VARCHAR" />
    
    <association column="Uid" property="user"
			select="com.point.dao.user.UserDao.selectPartByPrimaryKey"></association>
    
  </resultMap>
  
  <sql id="Base_Column_List" >
    Id, PointId, Uid,Comment, Praise, CreateTime, Status, UnUsed1, UnUsed2
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pointcomment
    where Id = #{id,jdbcType=CHAR}
  </select>
  
  <select id="selectByMap" parameterType="Map" resultMap="BaseResultMap">
		select * from pointcomment
		<where>
			<if test="id !=null and id !=''">
				and Id = #{id}
			</if>
		</where>
	</select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pointcomment
    where Id = #{id,jdbcType=CHAR}
  </delete>
  
  <delete id="deleteByMap" parameterType="Map">
		delete from pointcomment
		<where>
			<if test="id !=null and id !=''">
				and Id = #{id}
			</if>
		</where>
	</delete>
  

  <insert id="insertSelective" parameterType="com.point.entity.point.PointComment" >
    insert into pointcomment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="pointid != null" >
        PointId,
      </if>
      <if test="user != null" >
        Uid,
      </if>
      <if test="comment != null" >
        Comment,
      </if>
      <if test="praise != null" >
        Praise,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="unused1 != null" >
        UnUsed1,
      </if>
      <if test="unused2 != null" >
        UnUsed2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="pointid != null" >
        #{pointid,jdbcType=CHAR},
      </if>
      <if test="user != null" >
        #{user.uid,jdbcType=CHAR},
      </if>
       <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="praise != null" >
        #{praise,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="unused1 != null" >
        #{unused1,jdbcType=VARCHAR},
      </if>
      <if test="unused2 != null" >
        #{unused2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.point.entity.point.PointComment" >
    update pointcomment
    <set >
      <if test="pointid != null" >
        PointId = #{pointid,jdbcType=CHAR},
      </if>
      <if test="user != null" >
        Uid = #{user.uid,jdbcType=CHAR},
      </if>
       <if test="comment != null" >
        Comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="praise != null" >
        Praise = #{praise,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="unused1 != null" >
        UnUsed1 = #{unused1,jdbcType=VARCHAR},
      </if>
      <if test="unused2 != null" >
        UnUsed2 = #{unused2,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=CHAR}
  </update>

    <select id="findPointComment" parameterType="Map" resultMap="BaseResultMap">
		select * from pointcomment
		<where>
			<if test="id !=null and id != ''">
				and Id = #{id}
			</if>
			<if test="pointid !=null and pointid != ''">
				and pointid = #{pointid}
			</if>
		</where>
		<if test="start!=null and size!=null">
		    order by id desc limit ${start},${size};
		</if>	
	</select>
	
	<select id="getTotalPointComment" parameterType="Map" resultType="Long">
		select count(*) from pointcomment
		<where>
			<if test="id !=null and id != ''">
				and Id = #{uid}
			</if>	
			<if test="pointid !=null and pointid != ''">
				and pointid = #{pointid}
			</if>
		</where>
	</select>
	
	<select id="getMaxID"  resultType="String">
		select MAX(id) from pointcomment
		<where>
			<if test="prefix !=null and prefix != ''">
				and id like #{prefix}
			</if>
		</where>
	</select>

</mapper>